MQTT_HOST=8c8fef4b1fe449129461c0141702e0cf.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=BL441BW
MQTT_PASS=5Z6y4LR@$a
TOPIC_L1_IN=sensors/adw220/dev01/L1
TOPIC_L2_IN=sensors/adw220/dev01/L2
OUT_PREFIX=sensors/adw220/dev01/pred
MODEL_PATH=nilm_model_xgb.joblib
WINDOW_SIZE=3
CONSENSUS_FRAC=1.0
MIN_CONF=0.70
